{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics - Inicio</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="top-bar">
        {% if user.is_authenticated %}
            <a href="{% url 'usuarios:logout' %}" class="btn btn-secondary">Cerrar Sesión</a>
            <div class="dropdown">
                <button class="btn username" onclick="toggleDropdown()">{{ user.nombre }}</button>
                <div class="dropdown-content" id="dropdownMenu">
                    <a href="#">Perfil</a>
                    <a href="#">Configuración</a>
                    <a href="#">Otra cosa</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'usuarios:login' %}" class="btn btn-primary">Iniciar Sesión</a>
            <a href="{% url 'usuarios:register' %}" class="btn btn-secondary">Registrarse</a>
        {% endif %}
    </div>
    <div class="container">
        <h1>Bienvenido a Logistics</h1>
        <p>Esta es la página principal de nuestro sistema ERP.</p>
        {% if user.is_authenticated and user.rol == 'Administrador' %}
            <a href="{% url 'usuarios:gestion_usuarios' %}" class="btn btn-primary">Gestión de usuarios</a>
        {% endif %}
        {% if user.is_authenticated and user.rol == 'Encargado de inventario' %}
            <a href="{% url 'inventario:inventario' %}" class="btn btn-primary">Gestión de Inventario</a>
        {% endif %}
    </div>

    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdownMenu");
            dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
        }

        window.onclick = function(event) {
            if (!event.target.matches('.username')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>